<!-- <h1>Pages#edit</h1>
<p>Find me in app/views/pages/edit.html.erb</p>
 -->

<%= link_to("<< Back to List", pages_path(:subject_id => @subject.id), :class => 'back-link') %>

<div class="pages edit">
	<h2>Edit Page</h2>

	<%= form_for(@page, :url => page_path(@page, :subject_id => @subject.id)) do |f| %>

		<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<div class="form-buttons">
			<%= f.submit("Edit Page") %>
		</div>
	<% end %>
</div>
	
