<!DOCTYPE html>
<html>
  <head>
    <title>Sawtell CMS: <%= @page_title || "Admin Area" %></title>
    <%= stylesheet_link_tag('admin', :media => 'all') %>
  </head>

  <body>

    <div id="header">
      <h1> Sawtell CMS Admin</h1>
    </div>
    <div id="main">
      <% if !flash[:notice].blank? %>
    		<div class="notice">
    			<%= flash[:notice] %>
    		</div>
    	<% end %>

  <!-- before yield -->
      <div id="content">
        <%= yield %>
      </div>
    </div>
  <!-- after yield -->
    <div id="footer">
      <p id="copywright">&copy; sawtell</p>
    </div>
  </body>
</html>
